main {
    background-color: #2c2f33;
    background-image: url('/Images/webicon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; /* Ensure the text is visible */

}


