@page "/signin"
@layout StartLayout
@inject IAuthenticationService _userservice
@inject NavigationManager _navmanager


<div class="container">
    <div class="row justify-content-center align-items-center h-100" style="min-height:100vh;">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6 col-xl-5 col-xxl-6">

            <EditForm Model="userdto" OnValidSubmit="HandleSignIn">
              

                <div class="bg-secondary rounded-3 p-4 p-sm-5 my-4 mx-3" style="background-color: rgba(108, 117, 125, 0.5) !important;">


                    <h4 class="text-center mb-4 text-uppercase fw-bold"> Sign In</h4>

                    <div class="form-group">

                        <label for="UserEmail">UserEmail</label>
                        <InputText class="form-control" @bind-Value="userdto.UserEmail" required></InputText>
                        @if (!string.IsNullOrEmpty(GetErrorForField("UserEmail")))
                        {
                            <div style="background-color:black;">  <p class="text-danger">    @GetErrorForField("UserEmail")</p> </div>
                        }
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <div class="input-group">
                            <InputText type="@(_showPassword ? "text" : "password")"
                                       class="form-control"
                                       @bind-Value="userdto.Password">
                            </InputText>
                            <button type="button" class="btn btn-secondary" @onclick="TogglePasswordVisibility">
                                <i class="@(_showPassword ? "fas fa-eye-slash" : "fas fa-eye")"></i>
                            </button>
                        </div>
                        @if (!string.IsNullOrEmpty(GetErrorForField("Password")))
                        {
                            <div style="background-color:black;">
                                <p class="text-danger">@GetErrorForField("Password")</p>
                            </div>
                        }
                    </div>

                    <br />
                    @if (!string.IsNullOrEmpty(message))
                    {
                        <div class="alert alert-danger">
                            <p>
                                @message
                            </p>
                        </div>
                    }
                    <div class="d-flex flex-column flex-md-row gap-3">
                        @*    <button type="submit" class="btn btn-primary py-3 w-100">Submit</button> *@
                        <SpinnerButton isbuttonworking="BSpinnerWorking">
                            Submit
                        </SpinnerButton>
                        <a href="/Start" class="btn btn-light py-3 w-100">Cancel</a>
                    </div>
                    <br />
                    <a href="/SignUp" class="text-info">Create A New  Acoount?</a>

                </div>
            </EditForm>


        </div>


    </div>
</div>


@code {
    



    private UserSignInDto userdto = new UserSignInDto();
    private string message = string.Empty;
    private Dictionary<string, List<string>> dictionaryErrors = new Dictionary<string, List<string>>();
    private bool BSpinnerWorking = false;
    private bool _showPassword = false;

           

    private void TogglePasswordVisibility()
    {
        _showPassword = !_showPassword;
    }

    private string GetErrorForField(string fieldName)
    {
        if (dictionaryErrors.ContainsKey(fieldName))
        {
            return string.Join(",", dictionaryErrors[fieldName]);
        }
        return string.Empty;
    }


    public async Task HandleSignIn()
    {
        try
        {
            BSpinnerWorking = true;
            await _userservice.SignIn(userdto);
          
         

            _navmanager.NavigateTo("/");
        }
        catch (ApiException ex)
        {
            BSpinnerWorking = false;

            var error = await  ExceptionHandler.HandleApiException(ex);

            if(error is Dictionary<string , List<string>> errors)
            {
                dictionaryErrors = errors;
            }
            else if(error is ExeptionDto exdto)
            {
                message = $"{exdto.Message}";

            }
            else
            {
                message = $"{ex.Response}";
            }


        }
    }
}




