@page "/start"
@layout StartLayout



<div class="container">
    <div class="row justify-content-center align-items-center h-100" style="min-height:100vh;">

        <div class="col-12 col-sm-7 col-md-6 col-lg-5 col-xl-4">

            <div class=" rounded-3 p-4 p-sm-5 my-4 mx-3" style="background-color: rgba(108, 117, 125, 0.5) !important;">

                <img src="/Images/webicon.jpg" alt="Alternate Text" class="img-fluid mb-4" /> 

                <h4 class="text-center mb-4 text-uppercase fw-bold">Welcome</h4>

                <h4 class="text-center mb-4 text-uppercase fw-bold">Start WebChat</h4>

                <div class="d-flex flex-column flex-md-row gap-3">
                    <a href="/signup" class="btn btn-primary py-3 w-100">Sign Up</a>
                    <a href="/signin" class="btn btn-primary py-3 w-100">SignIn</a>
                </div>
               

            </div>
        </div>


    </div>
</div>







@code {
    
}
