@page "/"
@layout MainLayout
@attribute [Authorize]
@inject NavigationManager _navmanager;
@inject IHomePageServcies _homepageservcies;


<MudItem Class="row overflow-hidden">

    <!--1-->
 
    @if (model.Any())
    {
        @foreach (var user in model)
        {
            <MudButton OnClick="@(() => OpenChat(user.Id))" sm="12" Class="container-fluid overflow-hidden white-text p-1  d-flex align-items-center justify-content-start">

                <MudImage Src="/Images/webicon.jpg"
                          Alt="User Profile"
                          ObjectFit="ObjectFit.Cover"
                          Fluid="true"
                          Width="100"
                          Height="100"
                          ObjectPosition="ObjectPosition.Center"
                          Class="rounded-circle  ms-1 my-2" />


                <MudItem Class="d-flex flex-column ms-3">

                    <MudText Class="fw-bold h4 d-flex justify-content-start">@user.UserName</MudText>
                    <MudText Class="text-truncate mt-1 d-flex justify-content-start">lorem lorem lorem lorem lorem 1</MudText>


                </MudItem>

            </MudButton>


            <MudDivider class="text-secondary mx-3 my-1" />
        }
    }
    else
    {
        <p>
            Start A chat
        </p>
    }


       
  
</MudItem>





@code {

    List<OtherUserDto> model = new List<OtherUserDto>();

    HubConnection? _connection;

    protected override async void OnInitialized()
    {
        model = await _homepageservcies.GetConversations();

        //signalR
        _connection = new HubConnectionBuilder().
        WithUrl("https://localhost:7019/ChatHub").
        WithAutomaticReconnect().Build();


        _connection.On<OtherUserDto>("GetConversations", async con =>
        {
            await InvokeAsync(() =>
            {
                model.Add(con);
                StateHasChanged();

            });

        });

        await _connection.StartAsync();

    }



   
    void OpenChat(int otheruserid)
    {
      
        _navmanager.NavigateTo($"chatpage/{otheruserid}");
    }


  
}


