


<div class="form-group">
    <label for="password">Password</label>
    <div class="input-group">
        <InputText type="password" class="form-control" @bind-Value="Value"   @bind-Value:event="oninput" >   </InputText>
  
    </div>
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    // [Parameter]
    // public EventCallback<string> ValueChanged { get; set; }



 
}
